body {
    background-color: darkgray;
    font-family: Trebuchet, Verdana, Arial;
}


#header {
    text-align:center;
    padding: 15px;
    background-color: darkgray;
    font-style: white;
}


#filter {
    line-height:30px;
    border: 4px solid gray;
    width:20%;
    height: 500px; 
    float:left;
    padding:15px;
    margin-top: 10px;
    margin-right: 5px;
}

#section {
    float:left; 
    width: 50%
    height: 100%;
    margin: 10px;
    background-color: white;
}

div.event {
    font-style: "Arial";
    padding: 10px;;
    border: 4px solid gray;
    margin: 5px;
    background-color: darkgray;
}


a:link, a:visited {
    color: gray;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    color:white;

